MakeBSLDocumentsInactive.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dynamicscrmonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "connection_dynamicscrmonline"
    },
    "connections_cds_name": {
      "defaultValue": "connection_commondataservice",
      "type": "string"
    },
    "instance": {
      "defaultValue": "org3f7ecf7f.crm6",
      "type": "string"
    },
    "logicapp_name": {
      "defaultValue": "validatecontact",
      "type": "string"
    },
    "region": {
      "type": "string",
      "defaultValue": "australiaeast",
      "metadata": {
        "description": "The Azure region that the resource is deployed to."
      },
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ]
    },
    "workload": {
      "type": "string",
      "defaultValue": "workplace-cntntf",
      "metadata": {
        "description": "The broad purpose of the resource."
      }
    },
    "organisation": {
      "type": "string",
      "defaultValue": "bslau",
      "metadata": {
        "description": "The organisation that the resource group or resource is owned by."
      }
    },
    "environmentType": {
      "type": "string",
      "defaultValue": "dev",
      "metadata": {
        "description": "Whether this resource is Dev/Test/Prod/etc."
      },
      "allowedValues": [
        "dev",
        "tst",
        "prod",
        "can"
      ]
    },
    "regionCode": {
      "type": "string",
      "defaultValue": "aes",
      "metadata": {
        "description": "The Azure region code that the resource is deployed to."
      },
      "allowedValues": [
        "eas",
        "sea",
        "cus",
        "eus",
        "eus2",
        "wus",
        "nus",
        "sus",
        "neu",
        "weu",
        "jws",
        "jes",
        "brs",
        "aes",
        "ase",
        "sin",
        "cin",
        "win",
        "ccn",
        "ces",
        "uks",
        "ukw",
        "wcu",
        "wus2"
      ]
    },
    "chargeTo": {
      "type": "string",
      "defaultValue": "NOT_SET",
      "metadata": {
        "description": "The cost centre that the resource group or resource should be billed to."
      }
    },
    "department": {
      "type": "string",
      "defaultValue": "NOT_SET",
      "metadata": {
        "description": "The name of the department the resource group or resource was provisioned for."
      }
    },
    "system": {
      "type": "string",
      "defaultValue": "NOT_SET",
      "metadata": {
        "description": "The logical system the component belongs to."
      }
    },
    "application": {
      "type": "string",
      "defaultValue": "[parameters('system')]",
      "metadata": {
        "description": "The logical application the component belongs to. If not provided, defaults to the value of the 'system' parameter."
      }
    },
    "projectRequestReference": {
      "type": "string",
      "defaultValue": "NOT_SET",
      "metadata": {
        "description": "The recognised reference of the project or work request that deployed the workload appended by some free text."
      }
    },
    "resourceSME": {
      "type": "string",
      "defaultValue": "NOT_SET",
      "metadata": {
        "description": "The email address of the team (preferred) or individual responsible for implementing the resource during project execution."
      }
    },
    "resourceOwner": {
      "type": "string",
      "defaultValue": "NOT_SET",
      "metadata": {
        "description": "The name of the person responsible for the project long-term (after production release)."
      }
    },
    "workspaceName": {
      "type": "string",
      "defaultValue": "workplace-shared-oms-bslau-dev-ase",
      "metadata": {
        "description": "The name of the OMS workspace."
      }
    },
    "workspaceResourceGroup": {
      "type": "string",
      "defaultValue": "workplace-shared-rg01-bslau-dev",
      "metadata": {
        "description": "The resource group of the OMS workspace."
      }
    },
    "logicAppState": {
      "type": "string",
      "defaultValue": "Enabled",
      "metadata": {
        "description": "The default state of the Logic App."
      },
      "allowedValues": [
        "Disabled",
        "Enabled"
      ]
    },
    "environmentName": {
      "type": "string",
      "defaultValue": "Development",
      "metadata": {
        "description": "Whether this resource is Dev/Test/Prod/etc."
      },
      "allowedValues": [
        "Development",
        "Test",
        "Canary",
        "Production"
      ]
    }
  },
  "variables": {
    "logicApp": {
      "resourceCode": "Logapp",
      "name": "[toLower(concat(parameters('workload'), '-', parameters('logicapp_name'), '-', 'Logapp', '', '-', parameters('organisation'), '-', parameters('environmentType'), '-', parameters('regionCode')))]"
    }
  },
  "resources": [
    {
      "properties": {
        "state": "[parameters('logicAppState')]",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Fetch_All_Active_BSL_Documents_Records": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('instance')))}/tables/@{encodeURIComponent(encodeURIComponent('mcs_bsldocuments'))}/items",
                "queries": {
                  "$filter": "statecode eq 0 and mcs_enddate ne null"
                }
              },
              "runAfter": {}
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Fetch_All_Active_BSL_Documents_Records')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "less": [
                          "@items('For_each')?['mcs_enddate']",
                          "@convertTimeZone(utcNow(),'UTC','AUS Eastern Standard Time','yyyy-MM-dd')"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Update_a_record": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['commondataservice']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('instance')))}/tables/@{encodeURIComponent(encodeURIComponent('mcs_bsldocuments'))}/items/@{encodeURIComponent(encodeURIComponent(items('For_each')?['mcs_bsldocumentid']))}"
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Fetch_All_Active_BSL_Documents_Records": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "instance": {
              "defaultValue": "org3f7ecf7f.crm6",
              "type": "string"
            }
          },
          "triggers": {
            "Trigger_Each_Day_to_check_BSL_Documents": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "dynamicscrmonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'australiaeast', '/managedApis/', 'dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]",
                "connectionName": "[parameters('dynamicscrmonline_1_Connection_Name')]"
              },
              "commondataservice": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'australiaeast', '/managedApis/', 'commondataservice')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_cds_name'))]",
                "connectionName": "[parameters('connections_cds_name')]"
              }
            }
          },
          "instance": {
            "value": "[parameters('instance')]"
          }
        }
      },
      "name": "[variables('logicApp').name]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('region')]",
      "tags": {
        "Application": "[parameters('application')]",
        "Charge To": "[parameters('chargeTo')]",
        "Environment": "[parameters('environmentName')]",
        "Department": "[parameters('department')]",
        "System": "[parameters('system')]",
        "Project Request Reference": "[parameters('projectRequestReference')]",
        "Resource SME": "[parameters('resourceSME')]",
        "Resource Owner": "[parameters('resourceOwner')]"
      },      
      "apiVersion": "2016-06-01"
      //"dependsOn": [
      //  "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]",
      //  "[resourceId('Microsoft.Web/connections', parameters('connections_cds_name'))]"
      //]
    }
  ],
  "outputs": {}
}